.profileImage {
  border-radius: 100%;
  width: 45vw;
  max-width: 350px;
  margin: auto;
}

.introducePage {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
