.animationWrapper {
  height: 300vh;

  > div {
    display: grid;
    position: sticky;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    > div {
      transition: background-color 0.3s;
    }
  }
}

.blackBlock {
  background-color: #000;
}

.whiteBlock {
  background-color: #fff;
}

.mainContentWrapper {
  padding: 25vh 1rem;
  background-color: #000;
  color: #fff;
  text-align: center;

  h2 {
    font-size: 30px;
  }

  img {
    width: 80%;
    max-width: 600px;
    margin: 2rem auto;
  }
}
