a.button {
  display: block;
  max-width: 250px;
  text-decoration: none;
  color: black !important;
  background: white;
  border: 2px solid #000;
  margin: .75rem auto;
  font-size: 1.25rem;
  text-align: center;
  padding: .25rem;
}

a.white.button {
  border-color: white;
  color: white !important;
  background: 0;
}

a.button:hover {
  text-decoration: underline;
}
