a {
  color: skyblue;
}

img, canvas {
  display: block;
  width: 100%;
}

p {
  padding: 1rem 0;
}

section {
  margin: 5rem auto;
}

.fade-in-on-view {
  will-change: transform, opacity;
}

.container {
  width: 90%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 1.25rem;
  font-weight: 800;
  border-bottom: 2px solid #dcdcdc;
  padding-bottom: .5rem;
}

.center {
  text-align: center;
}

footer {
  margin-top: 20vh;
  text-align: center;
  border-top: 2px solid black;
  padding: 2rem 1rem 12rem 1rem;
}
