
#my-skill-page {
  margin: 1rem auto;
  padding-top: 20vh;
  word-break: break-all;
}

#my-skill-list {
  max-width: 550px;
  margin: 2rem auto;
}

.sticky.title {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  font-weight: 800;
}

.skill-state {
  transform: translate(0px, 0px);
  padding: .5rem 2rem;
  margin: .5rem 0;
  color: white;
}

.skill-state p {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
}

.skill-state .skill-use {
  transition: 1s color;
  transition-delay: 1.25s;
  position: absolute;
  top: .5rem;
  right: 1.5rem;
  color: rgba(0,0,0,0);
}

#my-skill-list [animated] .skill-state > .skill-use {
  color: black;
}

.skill-state-bg {
  transition: 1s width;
  transition-delay: .5s;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 1rem;
}

.html .skill-state-bg {
  transition-delay: .5s;
}

#my-skill-list [animated] .html .skill-state-bg {
  background: linear-gradient(90deg, #ff8200, #f75226);
  width: 100%;
}

.css .skill-state-bg {
  transition-delay: .6s;
}

#my-skill-list [animated] .css .skill-state-bg {
  background: linear-gradient(90deg, #0057ff, #2699f7);
  width: 100%;
}

.js .skill-state-bg {
  transition-delay: .7s;
}

#my-skill-list [animated] .js .skill-state-bg {
  background: linear-gradient(90deg, #d4c214, #d4de0b);
  width: 100%;
}

.php .skill-state-bg {
  transition-delay: .8s;
}

#my-skill-list [animated] .php .skill-state-bg {
  background: linear-gradient(90deg, #3b2bbe, #6b8ae7);
  width: 100%;
}

.mysql .skill-state-bg {
  transition-delay: .9s;
}

#my-skill-list [animated] .mysql .skill-state-bg {
  background: linear-gradient(90deg, #267e95, #6bdfe7);
  width: 100%;
}

.c .skill-state-bg {
  transition-delay: 1s;
}

#my-skill-list [animated] .c .skill-state-bg {
  background: linear-gradient(90deg, #323232, #dcdcdc);
  width: 50%;
}

.perl .skill-state-bg {
  transition-delay: 1.1s;
}

#my-skill-list [animated] .perl .skill-state-bg {
  background: linear-gradient(90deg, #6248a3, #605ec3);
  width: 6rem;
}
