.logo {
  margin-top: 1rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 2.5rem;
}

.work {
  max-width: 850px;
  padding: 1rem 0;
  margin: 1rem auto;
}

/* #work-rc {
  color: white;
  background: linear-gradient(#888, #333);
}

#work-omok {
  background: linear-gradient(#f0c68f, #f0da8f);
}

#work-dot {
  color: white;
  background: linear-gradient(#eda62c, #ecc315);
} */

#rc-logo {
  max-width: 450px;
  margin: 2rem auto 0 auto;
}

#aj-go-logo {
  width: 3rem;
  margin: auto;
}

#rc-canvas,
#omok-canvas {
  border-radius: 1rem;
  width: 60%;
  max-width: 300px;
  margin: auto;
}

#omok-info {
  margin: .75rem auto;
  text-align: center;
  color: #535353;
}

#aj-go-bg {
  position: relative;
  max-width: 850px;
  min-height: 70vh;
  background-image: url(../img/ajgo_bg.jpg);
  background-size: cover;
  background-position: center center;
  margin: 3rem auto;
}

#aj-go-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.7);
  color: white;
}
